/* Общи стилове */
body {
    background-color: #f0f0f0; 
    font-family: sans-serif; 
    padding: 10px;
    margin: 0;
}

/* Разпределение на екрана*/
.layout {
    display: flex;
    gap: 15px; 
}

.sidebar { width: 30%; } 
.calendar-area { width: 70%; }


.panel {
    background: white;
    border: 2px solid black; 
}

.panel-header {
    background: blue; 
    color: white;
    padding: 10px;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.panel-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
}


.input-field {
    width: 100%;
    padding: 5px;
    border: 1px solid gray; 
    box-sizing: border-box;
}


.button-primary, .button-toggle {
    width: 100%;
    padding: 8px;
    cursor: pointer;
    font-weight: bold;
}

.button-primary {
    background: blue;
    color: white;
    border: 2px solid darkblue;
}

.button-toggle {
    background: lightgray;
    border: 2px solid black;
    margin-bottom: 10px;
}

/* Календар */
#calendar {
    background: white;
    padding: 10px;
    border: 2px solid black; 
}

/* 1. Логика за датата */
#date-box { 
    display: none; 
    margin-top: 5px; 
}
#check-date:checked ~ #date-box { 
    display: block; 
}

/* 2. Логика за ролите */
body.viewer #form-box { 
    display: none; 
}

/* Навигация*/
.navbar {
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid gray;
}

.logo {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 50px; 
    width: auto;
}

/* --- Футър --- */
.site-footer {
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 15px;
    border: 2px solid gray;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    display: flex;
    gap: 10px;
}

.footer-links a {
    color: lightblue; 
    text-decoration: underline; 
}

.footer-links a:hover {
    color: red; 
}